
.priceUp {
    font-weight: bold;
    background-color: green;
}

.priceDown {
    font-weight: bold;
    background-color: red;
}

#blanket {
    background-color: transparent;
    opacity: 0.65;
    *background: none;
    position: absolute;
    z-index: 9001;
    top: 0;
    left: 0;
    width: 100%;
}

#newOrderDiv {
    position: absolute;
    background: #e6e6e6;
    width: 400px;
    height: 400px;
    border: 5px solid #000;
    z-index: 9002;
}

#orderBookDiv {
    position: absolute;
    background: #e6e6e6;
    width: 470px;
    height: 400px;
    border: 5px solid #000;
    z-index: 9002;
}

.SelectedSide {
    color: #333;
    background-color: #fff;
    border-color: #F1CB65;
}

.UnselectedSide {
    color: #F1CB65;
    background-color: #e6e6e6;
    border-color: #ccc;
}

    .UnselectedSide:hover {
        color: #F1CB65;
        background-color: #ebebeb;
        border-color: #adadad;
    }


button.btn.dropdown-toggle.selectpicker.teamOrderSelect.btn-default {
    margin-left: 74px;
    margin-top: -40px;
}

.visibleAlert {
    margin-top: 50px;
}

.hiddenAlert {
    margin-top: 50px;
    display: none;
}
