
.priceUp {
    font-weight: bold;
    background-color: #4caf50;
}

.priceDown {
    font-weight: bold;
    background-color: #e51c23;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.badge-notify {
    background: red;
    position: relative;
    top: -12px;
    left: -28px;
}

.showBadge {
    display: inline-block;
}

.BidAskDiv {
    position: absolute;
    top: 45px;
}

@media (min-width: 1275px) {
    .BidAskDiv {
        position: absolute;
        left: 50%;
        margin-left: -25%;
        top: 45px;
    }
}

#blanket {
    background-color: transparent;
    opacity: 0.65;
    *background: none;
    position: absolute;
    z-index: 9001;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-header-center {
    text-align: center;
    margin-top: 10px;
}

#newOrderDiv {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px;
}

.button.b-close, .button.bClose {
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

#orderBookDiv {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 550px;
    padding: 25px;
}

#cashInfos {
    position: absolute;
    left: 50%;
    margin-left: -320px;
    z-index: 100;
    top: 10px;
}

    #cashInfos td {
        padding-left: 40px;
    }

#newOrderDiv tr {
    height: 50px;
}

.orderInfo {
    padding-left: 10px;
    margin-left: 29px;
    width: 220px;
}

.teamSelectPicker {
    margin-left: 27px;
}

.visibleAlert {
    z-index: 150;
}

.hiddenAlert {
    display: none;
}

#side-menu {
    margin-top: -3px;
}

#navBarRight {
    margin-right: 0px;
}
